# built modules
build
# folders not to be included
doc
access
c
c++
demap
dos_batch
fortran
linux
matlab
pdftk
perl
python
tcltk
vb_script
vba
sanders_2010_cuda_by_example
# compiled files
*.lib
*.pyd
#
# special cases
my_cuda.c
